/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #a9907e;
    color: #454545;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1rem 0;
}

a {
    color: #f0a500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}